<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP NOMINA</title>
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.6.0/firebase-app.js";
        // Agrega las funciones de los productos de Firebase que necesitas utilizar
        import "https://www.gstatic.com/firebasejs/10.6.0/firebase-auth.js";
        import "https://www.gstatic.com/firebasejs/10.6.0/firebase-database.js";

        // Tu configuración de Firebase
        const firebaseConfig = {
            apiKey: "AIzaSyARftXkqb03gx_wHeowD7nySUtoOCdpbP4",
            authDomain: "appnomina-a0652.firebaseapp.com",
            projectId: "appnomina-a0652",
            storageBucket: "appnomina-a0652.appspot.com",
            messagingSenderId: "99754339045",
            appId: "1:99754339045:web:0882f3a9f78891435c020c"
        };

        // Inicializa Firebase
        const app = initializeApp(firebaseConfig);
    </script>
    <script src="app.js"></script>
    
    <link rel="stylesheet" href="styless.css">
</head>
<body ng-controller="myController">
    
    <div ng-show="user">
        <h2>Bienvenido, {{ user.email }}</h2>
        <button ng-click="logout()">Logout</button>

        <h3>Información de Nómina</h3>
        <div ng-if="nominaInfo">
            <p>Nombre: {{ nominaInfo.nombre }}</p>
            <p>Sueldo: {{ nominaInfo.sueldo }}</p>
            <button ng-click="downloadDesprendible()">Descargar Desprendible de Pago</button>
        </div>
    </div>
</body>
</html>